:root {
    font-size: 16px;
    --dsp-flex : flex;
    --dsp-grid : grid;
    --lis-style :none;
    --text-decor : none;
    --txt-align : center;
    --clr-black : black;
    --clr-grey : rgba(241, 234, 234, 0.151);
    --header-height : 4.1rem;
}
body, html {
    padding: 0;
    margin: 0;
}
header {
    display: var(--dsp-flex);
    justify-content: space-between;
    padding-inline: 2rem;
    align-items: center;
    background-color: rgba(189, 189, 152, 0.514);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    ul {
        display: var(--dsp-flex);
        gap : 1.5rem;
        list-style : var(--lis-style);
        li a {
            text-decoration: var(--text-decor);
            color: var(--clr-black);
        }
    }
}
main {
    .rel {
        position: relative;
        width: 100%;
        height: calc(100vh - var(--header-height));
        margin-top: var(--header-height);
        overflow: hidden;
        img {
            width: 100%;
            position: absolute;
            top: 0;
            left : 0;
            width: 100%;
            height: 100%;
        }        
    }
    .absolu {
        position: absolute;
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
        background-color: var(--clr-grey);
    }
    .lorem {
        margin-top : 80px;
    }
}
/* checking */