:root {
    font-size: 16px;
    --dsp-flex : flex;
    --dsp-grid : grid;
    --lis-style :none;
    --text-decor : none;
    --txt-align : center;
    --clr-black : black;
    --clr-grey : rgba(241, 234, 234, 0.151);
}
body, html {
    padding: 0;
    margin: 0;
}
header {
    margin-bottom: 30px;
    display: var(--dsp-grid);
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 0px;
    ul {
        display: var(--dsp-flex);
        gap : 0.7rem;
        list-style: var(--lis-style);
        a{
            color: var(--clr-black);
            text-decoration: var(--text-decor);
        }
    }
}
main {
    .rel {
        position : relative;
        img {
            height: 95vh;
        }
        .absolu {
            position : absolute;
            top : 50%;
            left : 50%;
            transform: translate(-50%, -50%);
            box-shadow: 2px 2px 4px var(--clr-black);
            padding : 2rem;
            background-color: var(--clr-grey);
            text-align: var(--txt-align);

        }
    }
    .lorem {
        margin : 10px;
    }
    
}
/* checking */